<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js - lesson 1</title>
    <style>
        body {
            font-size: 24px;
        }
        #bind {
            background-color: red
        }
        #green {
            background-color: green
        }
        #blue {
            background-color: blue

        }
        #color {
            background-color: pink
        }
        [v-cloak] {
            display: none;
        }

    </style>

</head>
<body>
    <!-- <div id="app" v-cloak>
        <div>{{ str }}</div>

         <div v-bind:class="bindClass">{{ bindClass }}</div>

       <div class="condition if" v-if="stateIf">if state</div>

         <div class="condition else-if" v-else-if="stateElseIf">if-else staet</div>

        <div class="condition else" v-else>else state</div>

        <div class="condition show" v-show="stateShow">show state</div>

        <ul class="loop">
            <li v-for="(val, i) in stateLoop">{{ `${i} - ${val}` }}</li>
        </ul>

        <button type="button" v-on:click="toggler=!toggler">{{toggler ? 'on' : 'off'}}</button>


        <!-- v-bind -->
        <!-- <img v-bind:src="img.src" v-bind:alt="img.alt"> -->
        <!-- <div v-bind:data-attr="dataAttr">We binded data attribute {{ dataAttr }}</div> -->

        <!-- c/h work -->
        <!--  -->
        <!-- Создать:  -->
        <!-- 1. три массива со списками;  -->
        <!-- 2. выводить каждый из списков при нажатии на тайтл (кнопку) списка; -->
        <!-- 3. создать три класса с стилями; -->
        <!-- 4. создать три кнопки, навешать на них события 'click', событие должно изменять привязанный класс к спискам -->
        <!-- 5. (не обязательный) застилить - +1 бал за это -->
    <!-- </div> -->

<!-- 
        <div id="test">
            <button @click="arr.push(count++)">Button {{count}}</button>
            <ul>
                <li v-for = "item in arr">{{item}}</li>
            </ul>
        </div> -->
        <div id="homework" v-cloak>
           
                <button type="button" @click="toggler=arr1">film1</button>
                <button type="button" @click="toggler=arr2">film2</button>
                <button type="button" @click="toggler=arr3">film3</button>
            <ul :id="color" v-cloak >
                <li v-for = "item in toggler"> {{item}}</li>
            </ul>
            <button type="button" @click="color='bind'">red</button>
            <button type="button" @click="color='blue'">blue</button>
            <button type="button" @click="color='green'">green</button>
        </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
   
   
   
   
    <!-- <script>
        let value = 'on'
        let button = document.createElement('button');
        button.type = 'button';
        button.innerHTML = value
        button.addEventListener('click', ()=> {
            button.innerHTML != value ? button.innerHTML ='on' : button.innerHTML ='off'
        })
    document.getElementById('app').append(button);
    </script> -->

</body>
</html>